* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.2;
}

a, button {
    transition: all .4s ease-in;
}

body{
    width: 1100px;
    width: 99%;;
    background: black;
}

section {
    margin: 5% 16%;
    border: 23px solid white;
    
}

#box {
    background: #3c3f44;
}

.box {
    background: #4a4f57;
   
}

.h1 {
    padding: 20px 0 60px 0;
}

div .box.box1 {
    background: #3c3f44;
    margin: 0;
}

.tab {
    padding: 40px 16%;
}


.box.box1 .tab .stroka:hover {
    background: #860606;
    border-top: 3px solid white;
    border-bottom: 3px solid white;

}

.stroka {
    height: 61.05px;
    padding: 0;
    background: #797594;
    padding: 13px;

}

div.stroka.color {
    background: #89839f;
        
}


div .button {
    background: #4a4f57;
    text-align: center;
    font-size: 1.2em;
    padding: 24.5px;
}

div .button:hover {
    background: #220c4b;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
}

footer {
    padding: 20px 16% 80px 16%;
}

    


/* Text */

span {
    font-size: 1.3em;
    color: white;
 }

.col {
    font-size: 0.9em;
    font-weight: 100;
    color: #b3b4c3;
}

input:checked + span .gold {
    color: #b3b4c3;
}

input:checked + span {
     text-decoration: line-through #b3b4c3;
}


label {
    display: block;
}


h1, h2, span.bon {
    color: #ef7d7b;
    margin: 0;
    text-align: center;
}

H1 {
 font-weight: bold;
 font-size: 2.2em;
 padding: 20px;
}


h2 {
    font-weight: 400;
    font-size: 1.5em;
    margin: -30px;
}

a {
    text-decoration: none;
}








