@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

* {
    box-sizing: border-box;
}
a, button {
    transition: all .4s ease-in;
    text-decoration: none;
}

html {
    height: 100%;
    font-size: 10px;
}

body{
    max-height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    font-size: 1.4rem;
    font-weight: 400;
    background: #3c3f44;
    border: 2.3rem solid white;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
}

header {
    background: #4a4f57;
}

.tab {
   padding: 5rem 0;
}

.tab .tab__item:nth-child(odd) {
    list-style: none;
    border-top: 3px solid #797594;
    border-bottom: 3px solid #797594;
}

.tab .tab__item:nth-child(even) {
    list-style: none;
    border-top: 3px solid #89839f;
    border-bottom: 3px solid #89839f;
}

label {
    display: block;
}

.tab .tab__item:nth-child(odd) {
    background: #797594;
    padding: 1.5rem;

}

.tab .tab__item:nth-child(even){
    background: #89839f;
    padding: 1.5rem;
        
}

.tab .tab__item:hover,
.tab .tab__item:focus,
.tab .tab__item:active,
.tab .tab__item:hover,
.tab .tab__item:focus,
.tab .tab__item:active {
    background: #635e78;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.button {
    display: block;
    background: #4a4f57;
    text-align: center;
    font-size: 1.2em;
    border-bottom: 3px solid #4a4f57;
    border-top: 3px solid #4a4f57;
}

.button:hover {
    background: #ef7d7b;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
}

a .subtitle {
    padding: 1rem;
    padding: 1.5rem;
}

a .subtitle:hover,
a .subtitle:focus,
a .subtitle:active {
    color: #4a4f57;
}

a .subtitle::after {
    content: ':)';
    display: inline-block;
    margin: 0 1.5rem;
}

footer {
    padding: 0 7% 25rem 7%;
}

    


/* Text */

.gold {
    font-size: 1.8em;
    color: white;
 }

.col {
    font-size: 1em;
    font-weight: 100;
    color: rgba(255, 255, 255, .7);
}

input:checked ~ span {
     text-decoration: line-through rgba(255, 255, 255, .6);
     color: rgba(255, 255, 255, .6);
}

input:checked ~ .tab__item {
    background: #860606;
}

.title {
    font-size: 5.4rem;
   padding: 3rem 0 0 ;
   font-weight: 700;
}

.subtitle {
    font-size: 3.4rem;
    font-weight: 400;
    padding: 0 0 3rem;
}

.title, .subtitle, .button {
    color: #ef7d7b;
    margin: 0;
    text-align: center;
}








